
  <div class="header">
    <h1>Register</h1>
  </div>
  
  <div class="container">
    <div class="form-wrap">
      <form action="/register" method="post">
        <div class="form-control">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" required>
        </div>
        <div class="form-control">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required>
        </div>
        <div class="form-control">
          <button type="submit" class="btn">Register</button>
        </div>
      </form>
    </div>
  </div>

    {{#if error}}
        <p>{{error}}</p>
    {{/if}}


